<div class="container">
  <h2>Vaccins</h2>
  <p>
    Nous nous sommes rendu au centre de vaccination international d'Aix-en-Provence pour faire nos vaccins (15€ la
    consultation). Le médecin nous a fourni une ordonnance pour récuperer une demi-tonne de médicaments, et nous avons
    fait 4 vaccins pour un total de 375€ (outch) afin de couvrir toute l'Asie. Mais notre mutuelle a couvert tous les
    frais \o/ !
  </p>
  <ul>
    <li>Typhoïde (35€)</li>
    <li>Hépatite A (30€)</li>
    <li>Encéphalite japonaise (95€/injection, 2 injections)</li>
    <li>Rage (35€/injections, 3 injections)</li>
  </ul>
  <p>
    Le médecin nous a également prescrit un mois et demi de médicaments antipaludisme, pour couvrir le nord de la
    Thaïlande et la Birmanie. Ces médicaments ont des effets secondaires, nous verrons à l'usage en fonction des maux de
    ventre si nous les prenons tous les jours ou en préventif uniquement.
  </p>

  <h2>Budget</h2>
  <p>
    Nous avons prévu 6000€ de budget (vols compris) par personne pour 8 mois de voyage, soit environ 30€/jour/personne.
    Sachant que nous allons couvrir des zones moins chères, comme la Thaïlande, et des zones plus chères comme le Japon.
  </p>

  <h2>Assurance et moyens de paiement</h2>
  <p>
    Pour les 90 premiers jours de notre voyage nous serons couvert par l'assurance de notre carte bleue Visa Premier
    (qui couvre les deux conjoints). Ensuite nous prendrons une assurance Chapka.
  </p>
  <p>
    Nous avons 4 cartes bancaires (deux cartes Gold et deux Revolut). Nous nous servirons principalement des cartes
    Revolut puisque nous n'avons aucun frais de change sur les retraits jusqu'à 200€/mois.
  </p>
</div>
