h2 {
  font-family: "Dancing Script", cursive;
  font-size: 2em;
  text-align: center;
  padding-top: 20px;
}

img {
  width: 75%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.container {
  height: 100%;
}

@media (min-width: 767px) {
  .container {
    padding-left: 200px;
    padding-right: 200px;
  }
}

p,
li,
h3 {
  font-family: "Nunito", sans-serif;
}

p {
  padding-top: 10px;
  text-align: justify;
}

p,
li {
  font-size: 1em;
}

h3 {
  font-weight: 600;
  font-size: 1em;
  text-align: center;
}

.center {
  text-align: center;
}
