<div class="container">
  <img src="./assets/amour.jpg" width="75%" />
  <h2>Qui sommes nous</h2>
  <p>Nous sommes Amélie et Matthieu. Dans la vie, nous partageons une même passion, celle du voyage. Dans quelques
    semaines, nous allons accomplir l’un de nos rêves : parcourir l’Asie en sac à dos.</p>
  <p>Nous avons tout quitté, posé un congé sans solde, vendu la voiture, rendu notre appart, et (presque) rempli nos
    sac à dos. Nous sommes prêts pour huit mois d’aventures, de découvertes, de galères,
    de temples, de nourriture, dans la joie et (parfois) la mauvaise humeur.</p>
  <p>Vous pourrez suivre nos aventures sur ce blog et en direct sur Instagram @belleechappee. Nous traverserons la
    Thaïlande, la Birmanie, le Vietnam, Taiwan… D’autres pays viendront s’ajouter, au gré de nos envies, de la météo,
    et des copains qui viendront nous rendre visite !</p>
  <p>Bonne balade !</p>
</div>