<div class="container">
  <img src="./assets/amour.jpg" width="75%"/>
  <h2>Qui sommes nous</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum suscipit rutrum placerat. Curabitur ut feugiat
    odio, ac ullamcorper ligula. Suspendisse orci lorem, tincidunt id sagittis nec, accumsan a turpis. Cras mattis
    malesuada ante, nec finibus arcu pharetra in. Morbi feugiat lacus pharetra ultrices pharetra. Vestibulum vehicula
    lectus eget mauris posuere, et fringilla ligula ultricies. Vivamus eu odio eros. Aliquam a tristique ipsum. Mauris
    a lacus velit. In blandit nunc eu nulla varius finibus. Praesent sit amet erat eget mauris semper accumsan sit amet
    sit amet urna. Vivamus vel hendrerit eros. Mauris ultrices tellus ac quam condimentum, ac sollicitudin ligula
    porttitor. Sed auctor quam urna, vel maximus ante commodo vitae. Morbi dignissim neque volutpat neque ultricies,
    vitae rhoncus tortor pharetra.
  </p>
  <p>
    Suspendisse potenti. Suspendisse rutrum, justo et varius gravida, quam sapien malesuada turpis, ut maximus lectus
    nibh ac libero. Praesent placerat risus eget posuere vehicula. Curabitur condimentum nibh sodales, auctor velit ac,
    condimentum lorem. Sed ac nunc dolor. Proin hendrerit, velit in posuere viverra, urna lorem luctus velit, vitae
    tristique dui orci nec dolor. Vestibulum eget lectus vel dolor molestie ullamcorper. Etiam vel velit sed est
    aliquam congue. Interdum et malesuada fames ac ante ipsum primis in faucibus. Proin gravida at sem eget tincidunt.
    Ut suscipit, ante quis fringilla pharetra, turpis urna eleifend felis, sit amet placerat justo justo vitae metus.
    Ut ornare placerat eros vitae scelerisque. In est urna, lobortis et malesuada id, sollicitudin sit amet eros.
    Vivamus efficitur lectus purus, vel lacinia nisi ornare sed. Vestibulum rutrum accumsan accumsan. Etiam vehicula
    egestas dui at posuere. Nulla ac turpis gravida, hendrerit nisi quis, pretium tellus. Fusce euismod neque vitae
    sapien egestas ullamcorper. Sed ornare varius nisi vitae vestibulum. Vestibulum mattis mollis pretium. Curabitur et
    risus non erat dignissim fringilla in id quam. Maecenas interdum lacinia mauris, in egestas tortor venenatis et. Ut
    id venenatis mi, at auctor enim. Vestibulum congue tristique nulla, eu mattis mi auctor eu. Aenean dapibus quis
    massa vitae ullamcorper. Nunc sed massa tincidunt, facilisis erat sed, luctus nisi. Sed luctus dignissim
    sollicitudin.
  </p>
  <p>
    Morbi ac ante vitae quam tempor pulvinar. Proin congue tempus tortor non iaculis. Morbi mauris felis, posuere vel
    velit et, pulvinar consequat mi. Nam justo felis, ullamcorper non risus non, convallis vulputate justo. Vivamus in
    arcu id ipsum vehicula accumsan. Nam at accumsan nibh. Nulla feugiat orci sed tempor bibendum.
    Nulla facilisi. Vestibulum non mi elit. Etiam ultricies in augue vel convallis. Sed dictum dui at quam congue, non
    tincidunt sapien efficitur. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
    Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed est augue, laoreet
    vel orci ac, finibus elementum sem. Praesent lobortis lobortis lorem, in molestie orci luctus et. Duis elementum
    volutpat velit, sed ultrices magna luctus in. Donec gravida sapien vel nisl mollis facilisis. Curabitur euismod,
    erat a tincidunt consequat, ipsum ante ornare odio, sit amet efficitur purus sem in arcu. Suspendisse ullamcorper
    elit a ligula lacinia, nec ornare turpis elementum. Donec elementum sapien et viverra blandit. Nullam rhoncus metus
    sed scelerisque hendrerit. Proin fringilla convallis bibendum. Fusce pellentesque lorem eu laoreet sollicitudin</p>
</div>