<div class="container">
  <img src="./assets/backpack.jpg" width="75%" />

  <h2>Sac à dos</h2>
  <div class="row">
    <div class="col-md-6">
      <h3>Amélie</h3>
      <ul>
        <li>Sac à dos Deuter Aircontact 40+10 SL</li>
        <li>Sac à dos en cuir (acheté à Marrakech)</li>
        <li>8 tshirts/débardeurs</li>
        <li>2 sous pull</li>
        <li>1 polaire</li>
        <li>1 doudoune en duvet</li>
        <li>1 Kway Regatta IV</li>
        <li>1 pantalon de randonnée</li>
        <li>1 pantalon en lin</li>
        <li>2 robes courte</li>
        <li>1 robe longue</li>
        <li>1 legging</li>
        <li>1 short</li>
        <li>1 short de sport</li>
        <li>7 culottes</li>
        <li>2 maillots de bain</li>
        <li>5 paires de chaussettes dont 2 en laine de mérinos</li>
        <li>1 foulard</li>
        <li>1 serviette en microfibre</li>
        <li>1 paire de Stan Smith</li>
        <li>1 paire de chaussures de running</li>
        <li>1 paire de Birkenstock</li>
        <li>1 paire de tongs</li>
        <li>1 casquette</li>
      </ul>
    </div>
    <div class="col-md-6">
      <h3>Matthieu</h3>
      <ul>
        <li>Sac à dos trekking TRAVEL500 50L</li>
        <li>1 duvet Snugpack Jungle</li>
        <li>1 Chemise à manche longue</li>
        <li>4 t-shirt</li>
        <li>1 maillot</li>
        <li>1 serviette microfibre</li>
        <li>1 pantalon de randonnée</li>
        <li>1 short</li>
        <li>1 Veste coupe vent étanche</li>
        <li>Chaussure Salomon XA Baldwin</li>
      </ul>
    </div>
  </div>

  <h3>Matériel commun</h3>
  <div class="row">
    <ul>
      <li>Un Macbook Air</li>
      <li>Un appareil photo Panasonic G7 + objectif Lumix 20mm + objectif Lumix 14-140mm</li>
      <li>Une liseuse électronique</li>
      <li>Trepied Gorillapod</li>
      <li>Une gourde filtrante Lifestraw Play kids</li>
      <li>Une gourde en plastique</li>
      <li>Prise internationale + multiprise</li>
      <li>Lampe frontale</li>
      <li>Double jack</li>
      <li>Corde à linge</li>
      <li>Couvert en plastique</li>
      <li>Cadenas</li>
    </ul>
  </div>
</div>
