<div class="container">
  <img src="./assets/backpack.jpg" width="75%" />
  <h2>Contenu du sac à dos d'Amélie</h2>
  <div class="row">
    <div class="col-md-6">
      <ul>
        <li>5 culottes</li>
        <li>3 paires de chaussettes coton</li>
        <li>1 paire de chaussettes en laine de mérinos</li>
        <li>Débardeur jaune</li>
        <li>Débardeur gris</li>
        <li>Débardeur gris</li>
        <li>Débardeur laine de mérinos</li>
        <li>Débardeur blanc</li>
        <li>Tshirt blanc</li>
        <li>Chemisier rose fleur</li>
        <li>Chemise à pois</li>
        <li>Polaire</li>
        <li>Robe rose</li>
        <li>Robe noire</li>
        <li>Robe verte</li>
      </ul>
    </div>
    <div class="col-md-6">
      <ul>
        <li>Jupe longue</li>
        <li>Pantalon de randonnée</li>
        <li>Pantalon en lin</li>
        <li>Birkenstock</li>
        <li>Vans UltraRange</li>
        <li>Tongs</li>
        <li>Doudoune duvet</li>
        <li>Duvet</li>
        <li>Serviette microfibre</li>
        <li>Deux maillots de bains</li>
      </ul>
    </div>
  </div>
</div>