<div class="container">
  <h1><img src="./assets/logo.png" width="50px" style="margin-bottom:10px" />La belle échappée</h1>
  <h2>Escapade en sac à dos autour de l'Asie</h2>
  <div class="menu row justify-content-md-center">
    <div class="dropdown">
      <button
        class="btn btn-secondary"
        type="button"
        aria-haspopup="true"
        aria-expanded="false"
        routerLink="/blog"
        routerLinkActive="active"
      >
        Blog
      </button>
      <button
        class="btn btn-secondary"
        type="button"
        aria-haspopup="true"
        aria-expanded="false"
        routerLink="/itineraire"
        routerLinnkActive="active"
      >
        Itinéraire
      </button>
      <button
        class="btn btn-secondary"
        type="button"
        aria-haspopup="true"
        aria-expanded="false"
        routerLink="/sac-a-dos"
        routerLinkActive="active"
      >
        Sac à dos
      </button>
      <button
        class="btn btn-secondary"
        type="button"
        aria-haspopup="true"
        aria-expanded="false"
        routerLink="/preparatifs"
        routerLinkActive="active"
      >
        Préparatifs
      </button>

      <!--
      <button
        class="btn btn-secondary dropdown-toggle"
        type="button"
        id="dropdownMenu3"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        Préparatifs
      </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenu3">
          <a routerLink="/vaccins" routerLinkActive="active" class="dropdown-item" href="#">Vaccins</a>
          <a routerLink="/sac-a-dos" routerLinkActive="active" class="dropdown-item" href="#">Sac à dos</a>
          <a routerLink="/to-do-list" routerLinkActive="active" class="dropdown-item" href="#">To-do list</a>
        </div>
      -->
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
