h1 {
  font-family: "Dancing Script", cursive;
  font-size: 3em;
  text-align: center;
  padding-top: 50px;
  padding-right: 20px;
}

h2 {
  font-size: 1em;
  text-align: center;
}

h2, h3, p {
  font-family: 'Nunito', sans-serif;
}

/* MENU */

.dropdown > button,
.dropdown > a {
  color: #6D9C85;
  background-color: transparent;
  border: none;
  cursor: auto;
  font-weight: 300;
  font-family: "Nunito", sans-serif;
}

a {
  color: #6D9C85;
  font-weight: 400;
  font-family: "Nunito", sans-serif;
}

p,
.step-text, li {
  font-size: 16px;
  color: #6D9C85;
}

.menu {
  padding-bottom: 10px;
  color: #6D9C85;
}

.dropdown-menu {
  border: none;
}

.btn.btn-secondary.active,
.dropdown-toggle,
.dropdown-item.active,
.dropdown-item:active {
  background: none;
  color: #aaa;
}

.dropdown.show {
  border: none;
  box-shadow: none;
}

.dropdown-toggle::after {
  display: none;
}

.btn-secondary:not(:disabled):not(.disabled).active:focus,
.btn-secondary:not(:disabled):not(.disabled):active:focus,
.show > .btn-secondary.dropdown-toggle:focus,
.btn-secondary.dropdown-toggle:focus,
.btn-secondary.dropdown-toggle:active {
  box-shadow: none;
}

img.image {
  width: 400px !important;
}
